<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        a {
            font-weight: bold;
            color: blue;
            font-size: 1.3em;
        }
    </style>

</head>
<body>
    <h1>Current Date:</h1>
    <p>Date: {{ current_date }}</p>
    <p>Time: {{ current_time }}</p>

    <p>
        <a href='/goodby/'>
            Click this
        </a>
    </p>
</body>
</html>
